@charset "UTF-8";
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 320px) and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) and (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) and (min-width: 480px) and (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) and (min-width: 480px) and (min-width: 540px) and (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) and (min-width: 480px) and (min-width: 540px) and (min-width: 640px) and (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 320px) and (min-width: 360px) and (min-width: 375px) and (min-width: 384px) and (min-width: 400px) and (min-width: 414px) and (min-width: 424px) and (min-width: 480px) and (min-width: 540px) and (min-width: 640px) and (min-width: 720px) and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
/*========reset css===============*/
*,
*::before,
*::after {
  /*所有的标签和伪元素都选中*/
  margin: 0;
  padding: 0;
  /*移动端常用布局是非固定像素布局*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*点击高亮效果清除*/
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 0.2rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', sans-serif;
  color: #fff;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
input,
textarea {
  border: none;
  outline: none;
  /*不允许改变尺寸*/
  resize: none;
  /*元素的外观 none没有任何样式*/
  -webkit-appearance: none;
}
/*===============common css===========*/
/*清除浮动*/
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
/*===============diy css===========*/
.meethigher-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0.05rem;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0.1rem;
}
.meethigher-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #13172F;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.meethigher-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.header {
  width: 100%;
  height: 0.8rem;
  background-color: transparent;
  font-size: 0.2rem;
  padding: 0 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 0.8rem;
  border-bottom: 2px solid #fff;
}
.header a {
  transition: all 0.3s ease !important;
}
.header a:hover {
  color: gold !important;
  text-decoration: none !important;
}
.header .header-menu,
.header .header-search {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
}
.header .header-menu span,
.header .header-search span {
  font-size: 0.3rem;
}
.header .header-menu {
  left: 0.2rem;
}
.header .header-search {
  right: 0.2rem;
}
.header .header-title a {
  font-size: 0.25rem;
}
.header .header-title a .header-subtitle {
  font-size: 0.2rem;
  transition: all 0.3s ease;
}
.header .header-title a:hover .header-subtitle {
  color: gold;
}
@media screen and (min-width: 750px) {
  .header .header-title {
    display: inline-block;
    float: left;
  }
  .header .header-title a {
    color: #fff;
  }
  .header .header-title a .header-subtitle {
    color: #fff;
  }
  .header .header-navbar {
    float: right;
  }
  .header .header-navbar li {
    float: left;
  }
  .header .header-navbar li a {
    padding: 0 0.1rem;
    color: #fff;
  }
}
@media screen and (max-width: 750px) {
  .header .header-menu,
  .header .header-search {
    display: block;
  }
  .header .header-title {
    text-align: center;
  }
  .header .header-title a {
    color: #fff;
  }
  .header .header-title a .header-subtitle {
    color: #fff;
  }
  .header .header-navbar {
    display: none;
    line-height: 0.4rem;
    position: absolute;
    top: 0.8rem;
    left: 0;
  }
  .header .header-navbar li {
    padding: 0 0.2rem;
  }
  .header .header-navbar li a {
    color: #fff;
  }
}
.aside {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
.aside .aside-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 7.5rem;
  transform: translateX(7.5rem);
  transition: transform 0.75s;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.4rem 0.15rem;
}
.aside .aside-content .aside-avatar {
  width: 1.28rem;
  height: 1.28rem;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.aside .aside-content .aside-avatar img {
  width: 1.28rem;
  height: 1.28rem;
}
.aside .aside-content .aside-author {
  text-align: center;
  font-family: "华文行楷", sans-serif;
  font-size: 0.4rem;
  margin-top: 0.2rem;
}
.aside .aside-content .aside-description {
  text-align: center;
  font-family: "华文行楷", sans-serif;
  font-size: 0.3rem;
  margin-top: 0.2rem;
}
.aside .aside-content .aside-contact {
  margin-top: 0.2rem;
}
.aside .aside-content .aside-contact li {
  float: left;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.1rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  overflow: hidden;
  position: relative;
}
.aside .aside-content .aside-contact li span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.2rem;
  text-align: center;
}
.aside .aside-content .aside-contact li span.fa {
  font-size: 0.3rem;
}
.aside .aside-content .aside-contact li a {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: block;
  background-color: #CEBB3B;
  width: 100%;
  height: 100%;
  line-height: 2.2rem;
  text-align: center;
  transform: translateY(2.2rem);
  overflow: hidden;
  transition: transform 0.3s;
}
.aside .aside-content .aside-contact li a.in {
  transform: translateY(0);
}
.aside .aside-content .aside-contact li img {
  width: 2.2rem;
}
.aside .in {
  transform: translateX(0);
}
.main {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0 0 0;
  overflow: hidden;
}
.main a {
  transition: all 0.3s ease !important;
}
.main a:hover {
  color: gold !important;
  text-decoration: none !important;
}
.main .arrow {
  display: none;
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  position: absolute;
  left: 0;
}
.main .arrow.fa-arrow-down {
  bottom: 0.2rem;
}
.main .arrow.fa-arrow-up {
  top: 1rem;
}
.main .main-content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  overflow: auto;
}
.main .main-content .post {
  border-radius: 0.2rem;
  padding: 0.4rem 0.2rem;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.main .main-content .post .post-title a {
  font-size: 0.25rem;
  color: #fff;
}
.main .main-content .post .post-title h2 {
  margin: 0.1rem 0;
}
.main .main-content .post .post-excerpt {
  margin-top: 0.4rem;
}
.main .main-content .post .post-content {
  margin-top: 0.4rem;
}
.main .main-content .post .post-content a {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.main .main-content .post .post-content .article-tag-list {
  float: right;
}
.main .main-content .post .post-content .article-tag-list .article-tag-list-item {
  float: left;
  margin: 0 0.05rem;
}
.main .main-content .post .post-media {
  margin-top: 0.4rem;
  text-align: right;
}
.main .main-content .post .post-media .post-time {
  font-size: 0.15rem;
}
.main .main-content .post .post-media a {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.main .main-content .post .post-media .article-tag-list {
  float: left;
}
.main .main-content .post .post-media .article-tag-list .article-tag-list-item {
  float: left;
  margin: 0 0.05rem;
}
.main .main-content .post-nav {
  text-align: center;
}
.main .main-content .post-nav .page-nav {
  display: inline-block;
  vertical-align: middle;
}
.main .main-content .post-nav .page-nav .page-number,
.main .main-content .post-nav .page-nav .extend.prev,
.main .main-content .post-nav .page-nav .extend.next {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  margin: 0 0.05rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.main .main-content .post-nav .page-nav span.page-number {
  color: gold;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13172F;
  z-index: -1;
}
.busuanzi {
  margin-top: 0.3rem;
  text-align: center;
}
.outline {
  padding: 0.05rem 0.15rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 200px;
  right: 0;
  border-radius: 0.1rem;
}
.layui-layer-page {
  background-color: #13172f !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}
.layui-layer-title {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.layui-layer-content ul {
  list-style: none;
}
.layui-layer-dialog {
  background-color: #13172F !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}
.catalog-container {
  padding: 5px 10px;
  font-size: 16px;
}
.catalog-container ul li a {
  text-decoration: underline;
}
.post-media2 {
  margin-top: 0.2rem;
}
.post-media2 .post-time {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.post-media2 .article-tag-list {
  float: left;
}
.post-media2 .article-tag-list .article-tag-list-item {
  float: left;
  margin: 0 0.05rem;
}
.post-media2 .article-tag-list .article-tag-list-item a {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.blog-markdown {
  font-size: 0.18rem !important;
  /*设置h标签*/
  /*设置无序有序标签*/
  /*设置引用标签*/
  /*设置加粗倾斜*/
  /*设置图片*/
  /*设置表格*/
  /*设置超链接*/
  /*设置段落格式*/
  /*设置关键字*/
  /*设置代码块*/
}
.blog-markdown h6 {
  font-size: 0.18rem !important;
  margin: 0.1rem 0;
}
.blog-markdown h5 {
  font-size: 0.2rem !important;
  margin: 0.1rem 0;
}
.blog-markdown h4 {
  font-size: 0.22rem !important;
  margin: 0.1rem 0;
}
.blog-markdown h3 {
  font-size: 0.24rem !important;
  margin: 0.1rem 0;
}
.blog-markdown h2 {
  font-size: 0.26rem !important;
  margin: 0.1rem 0;
}
.blog-markdown h1 {
  font-size: 0.28rem !important;
  margin: 0.1rem 0;
}
.blog-markdown ul,
.blog-markdown ol {
  margin-left: 0.3rem;
}
.blog-markdown ul li,
.blog-markdown ol li {
  margin: 0.03rem 0;
}
.blog-markdown ul {
  list-style-type: disc;
}
.blog-markdown ol {
  list-style-type: decimal;
}
.blog-markdown blockquote {
  border: none;
  color: #fff;
  margin: 0.2rem 0;
  padding: 0 0 0 0.1rem;
  min-height: 0.2rem;
  background-color: transparent;
  line-height: inherit;
  border-left: 4px solid #479680;
}
.blog-markdown strong {
  margin: 0 0.03rem;
}
.blog-markdown em {
  padding-right: 0.03rem;
}
@media screen and (min-width: 767px) {
  .blog-markdown img {
    max-width: 9.3rem;
    display: block;
    margin: 0.15rem auto 0.3rem auto;
    border-radius: 0.03rem;
  }
}
@media screen and (max-width: 767px) {
  .blog-markdown img {
    width: 100%;
    display: block;
    margin: 0.15rem auto 0.3rem auto;
    border-radius: 0.03rem;
  }
}
.blog-markdown > table {
  font-size: 0.16rem;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #3e4c42;
  width: 100%;
  margin-bottom: 0.24rem;
  border-radius: 0.03rem;
}
.blog-markdown > table th {
  font-family: inherit;
  font-size: inherit;
  background-color: #30303a !important;
  white-space: nowrap;
  font-weight: 600;
  border: 1px solid #3e4c42 !important;
  padding: 0.08rem 16rem / baseFontSize !important;
}
.blog-markdown > table td {
  border: 1px solid #3e4c42 !important;
  padding: 0.08rem 0.16rem !important;
}
.blog-markdown a {
  padding: 0 !important;
  border-radius: 0 !important;
  color: gold !important;
  background-color: transparent !important;
}
.blog-markdown p {
  margin: 0.1rem auto;
  text-indent: 0;
}
.blog-markdown code {
  color: #fff;
  line-height: 1;
  padding: 0.03rem 0.04rem;
  margin: 0 0.03rem;
  border-radius: 0.03rem !important;
  border: 1px solid #3e4c42;
  background-color: #30303a;
}
.blog-markdown figure.highlight {
  background-color: #30303a;
  padding: 0.3rem 0 0.1rem 0;
  border: 1px solid #3e4c42;
  border-radius: 0.03rem;
  position: relative;
  overflow-x: auto;
  width: 100%;
}
.blog-markdown figure.highlight span.language {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.05rem 0.06rem 0.06rem 0.06rem;
  border-radius: 0.1rem;
}
.blog-markdown figure.highlight table {
  width: 100%;
  position: relative;
}
.blog-markdown figure.highlight table .line {
  font-family: "Comic Sans MS", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  line-height: 0.12rem;
}
.blog-markdown figure.highlight table .line .comment,
.blog-markdown figure.highlight table .line .quote {
  color: #5c6370;
  font-style: italic;
}
.blog-markdown figure.highlight table .line .doctag,
.blog-markdown figure.highlight table .line .keyword,
.blog-markdown figure.highlight table .line .formula {
  color: #c678dd;
}
.blog-markdown figure.highlight table .line .section,
.blog-markdown figure.highlight table .line .name,
.blog-markdown figure.highlight table .line .selector-tag,
.blog-markdown figure.highlight table .line .deletion,
.blog-markdown figure.highlight table .line .subst {
  color: #e06c75;
}
.blog-markdown figure.highlight table .line .literal {
  color: #56b6c2;
}
.blog-markdown figure.highlight table .line .string,
.blog-markdown figure.highlight table .line .regexp,
.blog-markdown figure.highlight table .line .addition,
.blog-markdown figure.highlight table .line .attribute,
.blog-markdown figure.highlight table .line .meta-string {
  color: #98c379;
}
.blog-markdown figure.highlight table .line .built_in,
.blog-markdown figure.highlight table .line .class .title {
  color: #e6c07b;
}
.blog-markdown figure.highlight table .line .attr,
.blog-markdown figure.highlight table .line .variable,
.blog-markdown figure.highlight table .line .template-variable,
.blog-markdown figure.highlight table .line .type,
.blog-markdown figure.highlight table .line .selector-class,
.blog-markdown figure.highlight table .line .selector-attr,
.blog-markdown figure.highlight table .line .selector-pseudo,
.blog-markdown figure.highlight table .line .number {
  color: #d19a66;
}
.blog-markdown figure.highlight table .line .symbol,
.blog-markdown figure.highlight table .line .bullet,
.blog-markdown figure.highlight table .line .link,
.blog-markdown figure.highlight table .line .meta,
.blog-markdown figure.highlight table .line .selector-id,
.blog-markdown figure.highlight table .line .title {
  color: #61aeee;
}
.blog-markdown figure.highlight table .line .emphasis {
  font-style: italic;
}
.blog-markdown figure.highlight table .line .strong {
  font-weight: bold;
}
.blog-markdown figure.highlight table .line .link {
  text-decoration: underline;
}
.blog-markdown figure.highlight table .gutter {
  width: 0.3rem;
}
.blog-markdown figure.highlight table .gutter pre {
  padding-left: 0.08rem;
  text-align: right;
  color: #3e4c42;
}
.blog-markdown figure.highlight table .code pre {
  padding-right: 0.08rem;
  padding-left: 0.08rem;
  width: 100%;
}
.blog-markdown figure.highlight table::before {
  position: absolute;
  top: -0.3rem;
  left: 0;
  min-width: 100%;
  display: block;
  height: 0.3rem;
  background-color: #3e4c42;
  content: "";
}
.blog-markdown figure.highlight table tbody {
  pointer-events: none;
}
.blog-markdown figure.highlight table tbody::after {
  position: absolute;
  top: -0.3rem;
  right: 0;
  content: "copy";
  padding: 0.05rem 0.06rem 0.06rem 0.06rem;
  border-radius: 0.1rem;
  background-color: skyblue;
  cursor: pointer;
  pointer-events: all;
}
.blog-markdown figure.highlight table tbody .before {
  opacity: 0;
  position: absolute;
  top: -0.3rem;
  right: 0.5rem;
  padding: 0.05rem 0.06rem 0.06rem 0.06rem;
  background-color: skyblue;
  content: "success";
  border-radius: 0.1rem;
  animation: copy 1.5s;
}
@keyframes copy {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blog-markdown figure.highlight::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0.05rem;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0.05rem;
}
.blog-markdown figure.highlight::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #13172F;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.blog-markdown figure.highlight::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.tag-tags .tags-title {
  font-size: 0.26rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.tag-tags .tags-all {
  margin-top: 0.1rem;
}
.tag-tags .tags-all li {
  float: left;
  margin: 0.1rem 0.05rem;
}
.tag-tags .tags-all li a {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.tag-tags .posts-all {
  margin: 0.1rem 0;
  text-align: left;
}
.tag-tags .posts-all li {
  padding: 0.05rem 0.15rem;
  border-radius: 0.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-top: 0.1rem;
  width: 100%;
}
.tag-tags .posts-all li span {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-right: 0.5rem;
}
.tag-tags .posts-all li a {
  width: 50%;
  display: inline-block;
  padding-left: 0.5rem;
}
/*
.footer {
  width:100%;
  height:80rem/@baseFontSize;
  background-color: @colorBar;
  font-size: 20rem/@baseFontSize;
  position:fixed;
  bottom:0;
  left:0;
  text-align:center;
  line-height:80rem/@baseFontSize;
  border-top:2px solid #fff;
}*/
.toolbar {
  padding: 0.05rem 0.15rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 0;
  border-radius: 0.1rem;
}
@media screen and (max-width: 750px) {
  .toolbar {
    display: none;
  }
}
.search {
  padding: 0.05rem 0.15rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 150px;
  right: 0;
  border-radius: 0.1rem;
}
@media screen and (max-width: 750px) {
  .search {
    display: none;
  }
}
.search-container {
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
}
.search-container #input {
  outline: none;
  border: 1px solid orange;
  padding: 5px 10px;
  vertical-align: middle;
  border-radius: 10px;
}
.search-container .btn-search {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
}
.search-container .result {
  list-style: none;
}
.search-container .result li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
